h1
{
	color:white;
	text-align: center;
	align-content: center;
}
h2
{
	color: white;
}
body
{
	color: white;
	background-color: black;

}
#carte
{
	width:1000px;
	margin:0 auto; 
	background-color: black;
	text-align: left;
	align-content: center;
}

ul li 
{
	color: white;

}

